{% extends "blogs/_base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>{{ post.title }}</h1>
                <hr>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                {% endif %}
                <p>{{ post.content }}</p>
            </div>
        </div>
        <!-- like button -->
        <div id="like_section" class="row">
            {% include 'blogs/like_section.html' %}
        </div>
    </div>
<!-- 댓글목록 -->
<div class="container">
    <div class="row">
        <div class="col-md-12 comment-bg">
            <div class="page-header">
                <h1>Comments</h1>
            </div>
            <div class="comments-list">
                {% for comment in comments %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading user_name">
                            {{ comment.user }} | {{ comment.create_at }}
                        </h4>
                        {{ comment.content }}
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
            <!--  댓글쓰기 -->
            <div class="row">
                <h3 class="pl-3">댓글쓰기</h3>
                <form method="post" action="{% url 'comment_write' %}" enctype="multipart/form-data" class="col-lg-8 col-md-10 mx-auto">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <div class="form-group row">
                        <textarea name="content" class="form-control"  rows="7"></textarea>
                    </div>
                    {% if errors %}
                        {% for error in errors %}
                        <small style="color: red;">{{ error}}</small>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group row float-right">
                        <button type="submit" class="btn btn-primary">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
